<h1>Review importdatum</h1>


<!--Build an HTML table that holds the validated import data -->

<%
@attributes = Attribute.where("maxscheduler_id = ?", @maxschedulerId)
@numberOfAttributes = @attributes.size
@tableString = "<table border=1><tr>"

@attributes.each do | attr |
  @tableString = @tableString + "<td>" + attr.name.to_s + "</td>"
end
@tableString = @tableString + "</tr>"

#Pull in import data and parse out to a form
require 'csv'    
csv = CSV.parse(@importdatum.data, {:headers => false, :col_sep => "," } )
@rowCounter = 1
csv.each do | rowAry |    
  @colCounter = 1
    rowAry.each do | entry |
      @tableString = @tableString + "<td>" + entry.to_s + "</td>"
      @colCounter = @colCounter + 1
    end
  @tableString = @tableString + "</tr>"
  @rowCounter = @rowCounter + 1
end
@tableString = @tableString + "</table>"
%>

<br>

<div>
<%=raw @tableString %>
</div>

<br>

<a href=/importdata/<%= @importdatum.id.to_s %>/createjobs>Import Jobs</a>
<br>
<br>


<%= link_to 'Show', @importdatum %> |
<%= link_to 'Back', importdata_path %>
