<p id="notice"><%= notice %></td>

Going to populate stuff

<%= link_to 'Edit', edit_maxscheduler_path(@maxscheduler) %> |
<%= link_to 'Back', maxschedulers_path %>

<br>
<br>
<a class="btn btn-info" href=/maxschedulers/<%= @maxscheduler.id %>/populateData>Populate demo data</a>
